#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10px;
  border: 2px solid #fefeeb;
  width: 500px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

.head {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

input {
  width: 10%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: #fefeeb;
}